<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<ul style="display: flex; gap:1rem">
			<li><a href="/astro">Astro</a></li>
			<li><a href="/react">React</a></li>
			<li><a href="/vue">Vue</a></li>
			<li><a href="/svelte">Svelte</a></li>
		</ul>
		<slot />
	</body>
</html>
