---
import { t, getCurrentLanguage } from "tradux";

const traduxCookie = Astro.cookies.get("tradux_lang")?.value;
const lang = await getCurrentLanguage(traduxCookie);
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{t.welcome}</title>
	</head>
	<body>
		<ul style="display: flex; gap:1rem">
			<li><a href="/astro">Astro</a></li>
			<li><a href="/react">React</a></li>
			<li><a href="/vue">Vue</a></li>
			<li><a href="/svelte">Svelte</a></li>
			<li><a href="/node">Node</a></li>
		</ul>
		<slot />
	</body>
</html>
